body {
  background-color: #1b1b32;
  color: #f5f6f7;
  margin: 0;
  font-size: 16px;
  width: 100%;
  text-align: center;
  font-family: tahoma;
}

h1 {
  letter-spacing: 1px;
  margin: 1rem;
}
h2 {
  margin: 1rem;
}

form,
.authenticate {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0.625rem auto;
}
form {
  border-bottom: 3px solid #494960;
}
label {
  display: block;
  text-align: left;
  margin: 0.5rem 0;
}
input {
  width: 100%;
  min-height: 2rem;
  margin-top: 0.5rem;
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #f5f6f7;
}
fieldset {
  border: none;
  border-bottom: 3px solid #494960;
}
legend {
  padding-top: 1rem;
  text-align: center;
}
input[type="submit"],
button {
  width: 60%;
  min-width: 300px;
  height: 2rem;
  margin: 1rem auto;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border: 1px solid #f5f6f7;
  color: #f5f6f7;
}
input[type="submit"]:hover,
button:hover {
  background-color: #3b3b4f53;
  border-color: #f5f6f76b;
  color: #f5f6f772;
}

.error {
  color: hsl(0, 96%, 56%);
  font-size: 1.25rem;
}
